
body{
   background-color: #d3e0e8;
}
.container h3{
    color: #5f9267;
 }
 
 .pagination {
    margin-top: 45px;
    display: flex;
    justify-content: center;
   }
    
   .pagination .active a {
    background-color: #5f9267;
    color: #fff;
   }
    
   .pagination li a {
    border: 1px solid #5f9267;
    padding: 5px 10px;
    color: #5f9267;
    background-color: azure;
    text-decoration: none;
   }